<p>home works!</p>
<!-- <input appKeypress type="text" /> -->
@for (item of mock; track $index) {
<!-- <div appDirect>{{ item.title | upper }}</div> -->
}
<!-- <ng-container [formGroup]="userForm">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Simple placeholder" formControlName="name" />
  </mat-form-field>

  <div formArrayName="names">
    @for (item of names.controls; track i; let i = $index) {
    <mat-form-field appearance="outline">
      <input matInput placeholder="Simple placeholder" [formControlName]="i" />
    </mat-form-field>
    }
  </div>
</ng-container> -->

<!-- <button mat-raised-button color="primary" (click)="checkForm()">form</button> -->

<!-- <table mat-table #table [dataSource]="mock">
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>userId</th>
    <td mat-cell *matCellDef="let row">{{ row.userId }}</td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>title</th>
    <td mat-cell *matCellDef="let row">{{ row.title }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['userId', 'id', 'title']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['userId', 'id', 'title']"></tr>
</table> -->
<!-- <mat-button-toggle>text</mat-button-toggle> -->
<!-- <mat-tab-group>
  <mat-tab label="TabHeader1"></mat-tab>
  <mat-tab label="TabTabHeader2"></mat-tab>
</mat-tab-group>
<mat-toolbar>
  <span>FirstRow</span>
</mat-toolbar> -->

<mat-form-field appearance="outline">
  <input matInput placeholder="label" value="value" type="search" />
</mat-form-field>
<router-outlet></router-outlet>
